<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{objConf.title || '提示訊息'}}</h4>
        <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <p>{{objConf.message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="yes()"
        ><i class="fa fa-check" aria-hidden="true"></i>&nbsp; {{objConf.yesBtnName || '確認'}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
